@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

::selection{
	color: #fff;
	background: #6c757d;
}

body{
	font-family: 'Roboto Mono', sans-serif;
	color: #fff;
	background-color: black;
}